<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://luoye-g.top/assets/css/custom.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container register-form">
    <form METHOD="POST" ACTION="/api/login">
        <div class="form">
            <div class="note">
                <p>login in</p>
            </div>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="user_name" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password" name="password" value=""/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit">login</button>
            </div>
        </div>
    </form>
</div>