<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMLTest1</title>
</head>

<body>

    <div class="nav">
        <a>总览</a>
    </div>

    <div class="content">
        <a>内容</a>
    </div>

    <script>
        function redirectTo(url) {
            window.location.href = 'https://www.baidu.com';
        }
    </script>
    
    <button onclick="sign_in()">点击跳转</button>

    <script src="../../js/sign-in.js"></script>

</body>

</html>